.App h1{
  text-align: center;
}
.nav-ul{
  background: #1bc1ef;
  text-align:right;
  margin: 0;
}
.nav-ul li{
  display: inline-block;
  padding: 15px;
}

.nav-ul li a
{
  text-decoration: none;
  color: white;
  padding: 5px;
  margin-right: 10px;
}

.nav-box{
  text-decoration: none;
}

.footer {
  width: 100%;
  padding-top: 5px;
  background:rgb(9, 182, 61);
  margin-top: 380px;
  position: absolute;
  text-align: center;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
